.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productform {
  width: 90%;
  max-width: 700px;
  margin: 0px auto;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 13px 13px 20px #cbced1;
  color: black;
  display: flex;
  flex-direction: column;
}

.productform h1 {
  text-align: center;
  font-size: 2rem;
}

.productform-content {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-content: flex-start;
}

.productform img {
  margin-top: 20px;
}

.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 0.875rem;
  background: #ebf5fc;
}

.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: .9rem 1rem;
  border-radius: 1.5rem;
  background-color: #007BFF;
  cursor: pointer;
}

.custom-form button:hover {
  background-color: #006ee4;
}

.custom-form button {
  text-align: center;
  margin: 20px 0 0 0;
}

.loginbutton .spinner {
  display: block;
  width: 50px;
  margin: 20px;
  margin: 20px auto;
}

.productphoto {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background-color: white;
  text-align: center;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
}
